/* stylelint-disable custom-property-pattern, number-max-precision */

@font-face {
  font-family: EconSans;
  font-weight: 300;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-lig.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-lig.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-reg.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 700;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-bol.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-bol.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-reg.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 500;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-med.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-med.woff') format('woff');
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

/* stylelint-disable selector-no-type */

html {
  font-size: 18px;
  line-height: 1.35;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/**
 * Colors
 */

/**
 * Css grid variables
 */

/* stylelint-disable number-max-precision */

.teaser {
  overflow: hidden;
  font-family: 'EconSans', Tahoma, sans-serif;
  font-size: 18px;
  font-size: 1rem;
}

.teaser__link {
  display: block;  /* not an inline element either. */
  text-decoration: none;
}

.teaser__group-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teaser__title {
  margin: 0;
  margin-bottom: 0.714em;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  color: #121212;
  font-family: 'MiloSerifPro', Palatino, serif;
  font-size: 1.26563em;
  font-weight: normal;
  letter-spacing: -0.02em;
  line-height: 1.26;
}

.teaser__section {
  margin: 0;
  margin-bottom: 0.1em;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  color: #e3120b;
  font-size: 0.79012em;
  font-weight: 300;
  line-height: 1.34;
  text-transform: uppercase;
}

.teaser__flytitle {
  margin: 0;
  margin-bottom: 0.1em;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  color: #e3120b;
  font-size: 0.88889em;
  font-weight: normal;
  line-height: 1.4;
}

.teaser__text {
  margin-bottom: 0.714em;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  color: #121212;
  font-size: 0.79012em;
  font-weight: 300;
  line-height: 1.4;
}

.teaser__datetime {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
  color: #7a7a7a;
  font-size: 0.62429em;
  font-weight: 300;
  letter-spacing: 0.015em;
  line-height: 1.4;
}

.teaser__datetime::before {
  content: '';
  display: block;
  width: 54px;
  width: 3rem;
  height: 1.8px;
  height: 0.1rem;
  margin-bottom: 0.35em;
  background-color: #f2f2f2;
}

.teaser__img {
  display: block;  /* Makes sure that the image doesn't have an em box. */
  width: 100%;
  margin-bottom: 1.45em;
  border: none;
}

.teaser__group-image {
  width: 10em;
}

.teaser__group-image--empty {
  display: none;
}

@media (min-width: 44rem) {
  .teaser__group-image {
    float: left;
    margin-right: 1.25rem;
  }
  .teaser__group-image--empty {
    visibility: hidden;
    display: block;
    min-height: 1px;
    min-height: 1.25rem;  /* Because if its height is zero it doesn't push group-text to the right */
  }
}

/* stylelint-disable selector-no-type */

a {
  text-decoration: none;
}

.teaser {
  font-family: 'EconSans', Tahoma, sans-serif;
}

html {
  font-size: 18px;
  line-height: 1.35;
}

body {
  background: #fff;
}

@import './index.css';
