@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-grid';
@import '@economist/component-teaser';


/* stylelint-disable selector-no-type */

a {
  text-decoration: none;
}

.teaser {
  font-family: var(--fontfamily-sans);
}

html {
  font-size: 18px;
  line-height: var(--text-line-height-sans-on-step-0);
}

body {
  background: #fff;
}

@import './index.css';
